<%- include('./includes/head.ejs') %>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	
	<%- include('./includes/navigation.ejs') %>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Contact Us</h1>
							<h2>New Era of match making <a href="http://freehtml5.co" target="_blank">by yourpartner.co.in</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

<%- include('./includes/IndexAndGalleryAndContactAndServicesBrideAndGroomDescription.ejs') %>

	<div class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-push-6 animate-box">
					<h3>Get In Touch</h3>
					<form action="#">
						<div class="row form-group">
							<div class="col-md-6">
								<label for="fname">First Name</label>
								<input type="text" id="fname" class="form-control" placeholder="Your firstname">
							</div>
							<div class="col-md-6">
								<label for="lname">Last Name</label>
								<input type="text" id="lname" class="form-control" placeholder="Your lastname">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="email">Email</label>
								<input type="text" id="email" class="form-control" placeholder="Your email address">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="subject">Subject</label>
								<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<label for="message">Message</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Send Message" class="btn btn-primary">
						</div>

					</form>		
				</div>
				<div class="col-md-5 col-md-pull-5 animate-box">
					
					<div class="fh5co-contact-info">
						<h3>Contact Information</h3>
						<ul>
							<li class="address">New Minal Residency, <br> Suite 721 New York NY 10016</li>
							<li class="phone"><a href="tel://1234567920">+918989890088</a></li>
							<li class="email"><a href="mailto:info@yoursite.com">yoyoprg@rediffmail.com</a></li>
							<li class="url"><a href="http://gettemplates.co">yourpartner.co.in</a></li>
						</ul>
					</div>

				</div>
			</div>
			
		</div>
	</div>

	<div id="map" class="fh5co-map"></div>
		<!-- END map -->

	<%- include('./includes/footer.ejs')%>
	
	<%- include('./includes/commonScripts.ejs')%>

	<!-- Google Map -->
	<script src="js/google_map.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>

	</body>
</html>









