<%- include('./includes/head.ejs') %>
</head>
<link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="/https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
<link href="/css/Rmain.css" rel="stylesheet" media="all">
<body>
<div class="fh5co-loader"></div>
<div id="page">
    <%- include('./includes/navigation.ejs') %>
    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"  style="background-image:url(/images/img_bg_1.jpg);">
        <div class=""></div>
        <div class="fh5co-container">
            <div class="page-wrapper p-t-130 p-b-100 font-poppins">
                <div class="wrapper wrapper--w680">
                    <div class="card card-4">
                        <div class="card-body">
                            <h2 class="title"></h2>
                            <form method="POST" action="/edit-profile">
                                <hr>
                                <br>
                                <div class="input-group">
                                    <div style="text-align: center;">
                                        <label class="label"><strong>Personal Details</strong></label>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">First name</label>
                                            <input class="input--style-4" type="text" name="FirstName" required value="<%if(userData.FirstName){%> <%= userData.FirstName %> <%}%>">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Last name</label>
                                            <input class="input--style-4" type="text" name="LastName" required value="<%if(userData.LastName){%> <%= userData.LastName %> <%}%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Date of Birth</label>
                                            <div class="input-group-icon">
                                                <input class="input--style-4 js-datepicker" type="text" name="DOB" required value="<%if(userData.AgeDate){%> <%= userData.AgeDate+'/'+userData.AgeMonth+'/'+userData.AgeYear %> <%}%>">
                                                <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Gender</label>
                                            <div class="p-t-10">
                                                <label class="radio-container m-r-45">Male
                                                    <input type="radio"  name="Gender" <%if(userData.Gender =='M'){%> checked <%}%> value='M' >
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="radio-container">Female
                                                    <input type="radio" name="Gender" <%if(userData.Gender =='F'){%> checked <%}%> value='F'>
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Email</label>
                                            <input hidden value="<%if(userData.EmailID){%> <%= userData.EmailID %> <%}%>" name="EmailID" >
                                            <input class="input--style-4" type="email" disabled required name="EmailID" value="<%if(userData.EmailID){%> <%= userData.EmailID %> <%}%>" >
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Mobile Number</label>
                                            <input class="input--style-4" type="text" disabled required name="MobileNO" value="<%if(userData.MobileNO){%> <%= userData.MobileNO %> <%}%>" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space input-group">

                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Occupation</label>
                                            <input class="input--style-4" required type="text" name="Occupation" value="<%if(userData.Occupation){%> <%= userData.Occupation %> <%}%>" >
                                        </div>
                                    </div>
                                    <label class="label">Citizenship</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Citizenship">
                                            <option <%if(userData.Citizenship === 'Indian'){%> selected <%}%> >Indian</option>
                                            <option <%if(userData.Citizenship === 'UK'){%> selected <%}%> >UK</option>
                                            <option <%if(userData.Citizenship === 'USA'){%> selected <%}%> >USA</option>
                                            <option <%if(userData.Citizenship === 'Other'){%> selected <%}%> >Other</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Address</label>
                                            <input class="input--style-4" type="text" name="Address" value="<%if(userData.Address){%> <%= userData.Address%> <%}%>">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Income</label>
                                            <input class="input--style-4" type="text" required name="Income" value="<%if(userData.Income){%> <%= userData.Income %> <%}%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">City</label>
                                            <input class="input--style-4" type="text" required name="City" value="<%if(userData.City){%> <%= userData.City %> <%}%>">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Interest</label>
                                            <input class="input--style-4" type="text" name="Interest" value="<%if(userData.Interest){%> <%= userData.Interest %> <%}%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">About Myself</label>
                                            <input class="input--style-4" type="text" name="AboutMyself" value="<%if(userData.AboutMyself){%> <%= userData.AboutMyself %> <%}%>" >
                                        </div>
                                    </div>
                                    <label class="label">Complexion</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Complexion">
                                            <option <%if(userData.Complexion === 'Light Skin'){%> selected <%}%> >Light Skin</option>
                                            <option <%if(userData.Complexion === 'Fair Skin'){%> selected <%}%> >Fair Skin</option>
                                            <option <%if(userData.Complexion === 'Medium Skin'){%> selected <%}%> >Medium Skin</option>
                                            <option <%if(userData.Complexion === 'Olive Skin'){%> selected <%}%> >Olive Skin</option>
                                            <option <%if(userData.Complexion === 'Tan Brown Skin'){%> selected <%}%> >Tan Brown Skin</option>
                                            <option <%if(userData.Complexion === 'Black Brown Skin'){%> selected <%}%> >Black Brown Skin</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Smoke</label>
                                            <div class="p-t-10">
                                                <label class="radio-container m-r-45">Yes
                                                    <input type="radio" name="Smoke" <%if(userData.Smoke ==='Yes'){%> checked <%}%> value="Yes">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="radio-container">No
                                                    <input type="radio" name="Smoke" <%if(userData.Smoke ==='No'){%> checked <%}%> value="No">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Drink</label>
                                            <div class="p-t-10">
                                                <label class="radio-container m-r-45">Yes
                                                    <input type="radio" name="Drink" <%if(userData.Drink ==='Yes'){%> checked <%}%> value="Yes">
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="radio-container">No
                                                    <input type="radio" name="Drink" <%if(userData.Drink ==='No'){%> checked <%}%> value="No">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Weight (in Kgs)</label>
                                            <input class="input--style-4" type="text" name="Weight" value="<%if(userData.Weight){%> <%= userData.Weight %> <%}%>" >
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Height (in Cms)</label>
                                            <input class="input--style-4" type="text" name="Height" required value="<%if(userData.Height){%> <%= userData.Height %> <%}%>" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Expectations</label>
                                            <input class="input--style-4" type="text" required name="Expectations" value="<%if(userData.Expectations){%> <%=userData.Expectations%> <%}%>" >
                                        </div>
                                    </div>

                                    <label class="label">Mother Tongue</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="MotherTongue">
                                            <option <%if(userData.MotherTongue === 'Hindi'){%> selected <%}%> >Hindi</option>
                                            <option <%if(userData.MotherTongue === 'English'){%> selected <%}%> >English</option>
                                            <option <%if(userData.MotherTongue === 'Marathi'){%> selected <%}%> >Marathi</option>
                                            <option <%if(userData.MotherTongue === 'Punjabi'){%> selected <%}%> >Punjabi</option>
                                            <option <%if(userData.MotherTongue === 'Gujrati'){%> selected <%}%> >Gujrati</option>
                                            <option <%if(userData.MotherTongue === 'Bengali'){%> selected <%}%> >Bengali</option>
                                            <option <%if(userData.MotherTongue === 'Bhojpuri'){%> selected <%}%> >Bhojpuri</option>
                                            <option <%if(userData.MotherTongue === 'Hariyanvi'){%> selected <%}%> >Hariyanvi</option>
                                            <option <%if(userData.MotherTongue === 'Malayalam'){%> selected <%}%> >Malayalam</option>
                                            <option <%if(userData.MotherTongue === 'Tamil'){%> selected <%}%> >Tamil</option>
                                            <option <%if(userData.MotherTongue === 'Telegu'){%> selected <%}%> >Telegu</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <label class="label">Religion</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="Religion">
                                            <option <%if(userData.Religion === 'Hindu'){%> selected <%}%> >Hindu</option>
                                            <option <%if(userData.Religion === 'Muslim'){%> selected <%}%> >Muslim</option>
                                            <option <%if(userData.Religion === 'Christian'){%> selected <%}%> >Christian</option>
                                            <option <%if(userData.Religion === 'Sikh'){%> selected <%}%> >Sikh</option>
                                            <option <%if(userData.Religion === 'Jain'){%> selected <%}%> >Jain</option>
                                            <option <%if(userData.Religion === 'Buddha'){%> selected <%}%> >Buddha</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                    <label class="label">Martial Status</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="MartialStatus">
                                            <option <%if(userData.MartialStatus === 'Single'){%> selected <%}%> >Single</option>
                                            <option <%if(userData.MartialStatus === 'Married'){%> selected <%}%> >Married</option>
                                            <option <%if(userData.MartialStatus === 'Widowed'){%> selected <%}%> >Widowed</option>
                                            <option <%if(userData.MartialStatus === 'Divorced'){%> selected <%}%> >Divorced</option>
                                            <option <%if(userData.MartialStatus === 'Separated'){%> selected <%}%> >Separated</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>

                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Any Child?</label>
                                            <input class="input--style-4" type="text" required name="ChildrenStatus" value="<%if(typeof userData.ChildrenStatus === "number"){%> <%=userData.ChildrenStatus%> <%}%>">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <br>
                                <div class="input-group">
                                    <div style="text-align: center;">
                                        <label class="label"><strong>Educational Details </strong></label>
                                    </div>
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Higher Education (10)</label>
                                            <input class="input--style-4" rows="2" type="text" name="HigherEducation" value="<%if(userData.HigherEducation){%> <%=userData.HigherEducation%> <%}%>">
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Secondary Secondary (10+2)</label>
                                            <input class="input--style-4" type="text" name="SecondaryEducation"  value="<%if(userData.SecondaryEducation){%> <%=userData.SecondaryEducation%> <%}%>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">College Degree</label>
                                            <input class="input--style-4" type="text" name="CollegeDegree" value="<%if(userData.CollegeDegree){%> <%=userData.CollegeDegree%> <%}%>">
                                        </div>
                                    </div>
                                </div>
                                <hr><br>
                                <div class="input-group">
                                    <div style="text-align: center;">
                                        <label class="label"><strong>Family Details</strong></label>
                                    </div>
                                </div>

                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Father Occupation</label>
                                            <input class="input--style-4" type="text" name="FatherOccupation" value="<%if(userData.FatherOccupation){%> <%=userData.FatherOccupation%> <%}%>">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Mothers Occupation</label>
                                            <input class="input--style-4" type="text" name="MotherOccupation"  value="<%if(userData.MotherOccupation){%> <%=userData.MotherOccupation%> <%}%>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Brothers</label>
                                            <input class="input--style-4" type="text" required name="Brothers"  value="<%if(userData.Brothers){%> <%=userData.Brothers%> <%}%>">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Sisters</label>
                                            <input class="input--style-4" type="text" required name="Sisters" value="<%if(userData.Sisters){%> <%=userData.Sisters%> <%}%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-space input-group">
                                    <label class="label">Family Type</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="FamilyType">
                                            <option <%if(userData.FamilyType === 'Nuclear Family'){%> selected <%}%>>Nuclear Family</option>
                                            <option <%if(userData.FamilyType === 'Joint Family'){%> selected <%}%>>Joint Family</option>
                                            <option <%if(userData.FamilyType === 'Step Family'){%> selected <%}%>>Step Family</option>
                                            <option <%if(userData.FamilyType === 'Grand Parent Family'){%> selected <%}%>>Grand Parent Family</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>




                                <div class="p-t-15">
                                    <button class="btn btn--radius-2 btn--blue" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <%- include('./includes/footer.ejs')%>


    <%- include('./includes/commonScripts.ejs')%>


    <script src="vendor/select2/select2.min.js"></script>


    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <script src="js/Rglobal.js"></script>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
