<%- include('./includes/head.ejs') %>
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">

	<%- include('./includes/navigation.ejs') %>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/images/dubai.jpg);" data-stellar-background-ratio="0.5">

		<div class="overlay"></div>
		<div class="container">
			<div class="display-t">
				<div class="display-tc animate-box" data-animate-effect="fadeIn">
					<div class="s008">
						<form method="post" action="/searchQuery">
							<div class="inner-form">
								<div class="basic-search">
									<div class="input-field">
										<input id="search" type="text" placeholder="Search by Name" name="Name" />
										<div class="icon-wrap">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
												<path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
											</svg>
										</div>
									</div>
								</div>
								<div class="advance-search">
									<span class="desc">Advanced Search</span>
									<div class="row">
										<div class="input-field">
											<h5 style="color:white;">I'm looking for a</h5>
											<div class="input-select">
												<select  name="Gender">
													<option  value="" placeholder="">Any</option>

													<option value="M">Male</option>
													<option value="F">Female</option>
												</select>
											</div>
										</div>
										<div class="input-field">
											<h5 style="color:white;">Age</h5>
											<div class="input-select">
												<select  name="From">
													<option value ="" placeholder="">Any</option>

													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="31">31</option>
													<option value="32">32</option>
													<option value="33">33</option>
													<option value="34">34</option>
													<option value="35">35</option>
													<option value="36">36</option>
													<option value="37">37</option>
													<option value="38">38</option>
													<option value="39">39</option>
													<option value="40">40</option>
												</select>
											</div>
										</div>
										<div class="input-field">
											<h5 style="color:white;">To</h5>
											<div class="input-select">
												<select  name="To">
													<option value="" placeholder="">Any</option>

													<option value="18">18</option>
													<option value="19">19</option>
													<option value="20">20</option>
													<option value="21">21</option>
													<option value="22">22</option>
													<option value="23">23</option>
													<option value="24">24</option>
													<option value="25">25</option>
													<option value="26">26</option>
													<option value="27">27</option>
													<option value="28">28</option>
													<option value="29">29</option>
													<option value="30">30</option>
													<option value="31">31</option>
													<option value="32">32</option>
													<option value="33">33</option>
													<option value="34">34</option>
													<option value="35">35</option>
													<option value="36">36</option>
													<option value="37">37</option>
													<option value="38">38</option>
													<option value="39">39</option>
													<option value="40">40</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="input-field">
											<h5 style="color:white;">Mother Tongue</h5>
											<div class="input-select">
												<select  name="MotherTongue">
													<option value="" placeholder="" >Any</option>

													<option>Hindi</option>
													<option>Punjabi</option>
													<option>Marathi</option>
													<option>Bengali</option>
													<option>Gujrati</option>
													<option>English</option>
													<option>Bhojpuri</option>
													<option>Tamil</option>
													<option>Telegu</option>
													<option>Malayalam</option>
													<option>Hariyanvi</option>
												</select>
											</div>
										</div>
										<div class="input-field">
											<h5 style="color:white;">Religion</h5>
											<div class="input-select">
												<select  name="Religion">
													<option value="" placeholder="" >Any</option>

													<option>Hindu</option>
													<option>Muslim</option>
													<option>Christian</option>
													<option>Sikh</option>
													<option>Jain</option>
													<option>Buddha</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row third">
										<div class="input-field">
											<div class="result-count">
												<span> </span></div>
											<div class="group-btn">
												<button class="btn-delete" id="delete" type="reset">Reset</button>
												<button class="btn-search" type="submit">Search</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<script src="js/extention/choices.js"></script>
			<script>
				const customSelects = document.querySelectorAll("select");
				const deleteBtn = document.getElementById('delete')
				const choices = new Choices('select',
						{
							searchEnabled: false,
							removeItemButton: true,
							itemSelectText: '',
						});
				for (let i = 0; i < customSelects.length; i++)
				{
					customSelects[i].addEventListener('addItem', function(event)
					{
						if (event.detail.value)
						{
							let parent = this.parentNode.parentNode
							parent.classList.add('valid')
							parent.classList.remove('invalid')
						}
						else
						{
							let parent = this.parentNode.parentNode
							parent.classList.add('invalid')
							parent.classList.remove('valid')
						}
					}, false);
				}
				deleteBtn.addEventListener("click", function(e)
				{
					e.preventDefault()
					const deleteAll = document.querySelectorAll('.choices__button')
					for (let i = 0; i < deleteAll.length; i++)
					{
						deleteAll[i].click();
					}
				});

			</script>
		</div>
	</header>

<% if (!isLoggedIn){%>
	<center>
		<div class="container">
			<frameset>

				<br> <br>
				<legend>  <h1>Login Now</h1> </legend>

				<form style="width:300px" action="/auth/validateLogin" method="post">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</frameset>
		</div>

	</center>
<%}%>
	<%- include('./includes/IndexAndGalleryAndContactAndServicesBrideAndGroomDescription.ejs') %>

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(/images/img_bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Special Events</span>
					<h2>Wedding Events</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Main Ceremony</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>4:00 PM</span>
										<span>6:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Monday 28</span>
										<span>November, 2016</span>
									</div>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>Wedding Party</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>7:00 PM</span>
										<span>12:00 AM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>Monday 28</span>
										<span>November, 2016</span>
									</div>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<%- include('./includes/IndexAndAboutCoupleStory.ejs') %>

	<div id="fh5co-gallery" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>Our Memories</span>
					<h2>Wedding Gallery</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="row row-bottom-padded-md">
				<div class="col-md-12">
					<ul id="fh5co-gallery-list">

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/gallery-2.jpg); ">
							<a href="/images/gallery-1.jpg">
								<div class="case-studies-summary">
									<span>14 Photos</span>
									<h2>Two Glas of Juice</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/uae.jpg); ">
							<a href="#" class="color-2">
								<div class="case-studies-summary">
									<span>30 Photos</span>
									<h2>Timer starts now!</h2>
								</div>
							</a>
						</li>


						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/skyline.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>90 Photos</span>
									<h2>Beautiful sunset</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/dubai.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>12 Photos</span>
									<h2>Company's Conference Room</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/gallery-5.jpg); ">
							<a href="#" class="color-3">
								<div class="case-studies-summary">
									<span>50 Photos</span>
									<h2>Useful baskets</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/gallery-6.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>45 Photos</span>
									<h2>Skater man in the road</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/gallery-7.jpg); ">
							<a href="#" class="color-4">
								<div class="case-studies-summary">
									<span>35 Photos</span>
									<h2>Two Glas of Juice</h2>
								</div>
							</a>
						</li>

						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/gallery-8.jpg); ">
							<a href="#" class="color-5">
								<div class="case-studies-summary">
									<span>90 Photos</span>
									<h2>Timer starts now!</h2>
								</div>
							</a>
						</li>
						<li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(/images/gallery-9.jpg); ">
							<a href="#" class="color-6">
								<div class="case-studies-summary">
									<span>56 Photos</span>
									<h2>Beautiful sunset</h2>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(/images/img_bg_5.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-users"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="500" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Estimated Guest</span>

							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-user"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">We Catter</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-calendar"></i>
								</span>
								<span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Events Done</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 animate-box">
							<div class="feature-center">
								<span class="icon">
									<i class="icon-clock"></i>
								</span>

								<span class="counter js-counter" data-from="0" data-to="2345" data-speed="5000" data-refresh-interval="50">1</span>
								<span class="counter-label">Hours Spent</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial">
		<div class="container">
			<div class="row">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<span>Best Wishes</span>
						<h2>Friends Wishes</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<div class="wrap-testimony">
							<div class="owl-carousel-fullwidth">
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="/images/couple-1.jpg" alt="user">
										</figure>
										<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
										<blockquote>
											<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics"</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="/images/couple-2.jpg" alt="user">
										</figure>
										<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
										<blockquote>
											<p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, at the coast of the Semantics, a large language ocean."</p>
										</blockquote>
									</div>
								</div>
								<div class="item">
									<div class="testimony-slide active text-center">
										<figure>
											<img src="/images/couple-3.jpg" alt="user">
										</figure>
										<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
										<blockquote>
											<p>"Far far away, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include('./includes/IndexAndServicesWeOfferServices.ejs')%>

	<%- include('./includes/AreYouAttending.ejs')%>


	<%- include('./includes/footer.ejs')%>

	<%- include('./includes/commonScripts.ejs')%>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="/js/simplyCountdown.js"></script>


</body>
</html>

